################
# User Content #
################

# The list of remote repositories to add to zypper
suse_package_repos:
    - {name: "server_monitoring", url: "http://download.opensuse.org/repositories/server:/monitoring/openSUSE_Leap_15.1/"}
    - {name: "shells_fish_release_3", url: "http://download.opensuse.org/repositories/shells:/fish:/release:/3/openSUSE_Leap_15.0/"}

# ubuntu_package_repos:
#    - {name: "", url: ""}

# redhat_package_repos:
#    - {name: "", url: ""}

# what user are you trying to setup?
username: vagrant

# The list of dotfile urls (from github) to
# pull and run setup.sh
dotfiles_git_repos:
   - {name: ".dotfiles", url: "https://github.com/hemna/.dotfiles", branch: "ansible"}
