# Bindep to describe what apps are required on which systems

ansible
htop

# For MacOS
coreutils [platform:brew]
python [platform:brew]
pip-completion [platform:brew]

# For Ubuntu
build-essential [platform:dpkg]
autoconf [platform:dpkg platform:rpm]
automake [platform:dpkg platform:rpm]
libtool [platform:dpkg platform:rpm]
xclip [platform:dpkg platform:rpm]
lnav [platform:dpkg platform:rpm platform:brew]
lsb-release [platform:ubuntu platform:suse]
fish [platform:ubuntu platform:brew platform:suse]
python-autopep8 [platform:ubuntu]
vim-autopep8 [platform:ubuntu]

# For openSUSE
python2-autopep8 [platform:suse]
python3-autopep8 [platform:suse]
jo [platform:suse]
hostname [platform:suse]
vim-data [platform:suse]
